@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.historial-semestre{
    display: flex;
    font-family: Roboto;
    align-items: center;
    justify-content: center;
}