@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.formulario-admin {
    background-color: white;
    padding: 20px;
    padding-top: 1px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 0;
}

.formulario-admin__campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.formulario-admin__campo label {
  font-family: 'Roboto';
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 16px;
}

.formulario-admin__campo input,
.formulario-admin__campo select {
  font-family: 'Roboto';
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
}