@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.login__titulo{
    font-family: 'Roboto';
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.login__tarjeta-flotante {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
}

.login__pestañas{
    display: flex;
    border-top: 2px;
}

.login__pestaña{
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #e0e0e0;
    color: #333;
    font-family: 'Roboto';
}

.login__pestaña.activado{
    background-color: #fff;
    color: #4CAF50;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    z-index: 2;
    position: relative;
}

.login__formulario{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0;
}