@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.subir-calificaciones-selectores {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin-bottom: 30px;
}

.subir-calificaciones-selectores-select {
    font-family: 'Roboto';
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 48%;
}