@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.barra-navegacion {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0px 4px 2px -2px gray;
    background-color: white;
    z-index: 1000;
}

.barra-navegacion__contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.barra-navegacion__imagen {
    width: 50px;
    height: 50px;
}

.barra-navegacion__icono-menu {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.barra-navegacion__elementos {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: end;
}

.barra-navegacion__elemento {
    margin: 0 15px;
    font-size: 20px;
    font-family: 'Roboto';
}

.barra-navegacion__boton--acceso {
    font-family: 'Roboto';
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.barra-navegacion__boton--acceso:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: inherit;
}

.barra-navegacion__boton--cerrar {
    display: none;
}

/* --- MÓVIL --- */
@media (max-width: 768px) {
    .barra-navegacion__icono-menu {
        display: block;
    }

    .barra-navegacion__elementos {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70%;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 1001;
        display: flex;
        justify-content: flex-start;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        overflow-y: auto;
    }

    .barra-navegacion__elementos.activo {
        transform: translateX(0%);
    }

    .barra-navegacion__elemento {
        font-family: 'Roboto';
        margin: 15px 0;
        font-size: 18px;
    }

    .barra-navegacion__boton--cerrar {
        display: block;
        font-size: 30px;
        cursor: pointer;
        align-self: flex-end;
        margin-bottom: 20px;
    }
}