@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.bienvenida__titulo {
    font-family: 'Roboto';
    padding-top: 2rem;
}

.bienvenida__mensaje {
    font-family: 'Roboto';
    margin-top: 1rem;
    padding: 0 1rem;
    max-width: 700px;
}

.bienvenida__seccion-botones{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.bienvenida__boton{
    font-family: 'Roboto';
    font-size: 15px;
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.bienvenida__boton:hover {
    background-color: #45A049;
  }