@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.tabla-calificaciones__selectores {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin-bottom: 30px;
}

.tabla-calificaciones__selectores select {
    font-family: 'Roboto';
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 48%;
}

.tabla-calificaciones__boton-guardar{
    font-family: 'Roboto';
    background-color: #28a745;
    color: white;
    padding: 0.7rem 1.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tabla-calificaciones__boton-guardar:hover{
    background-color: #218838;
}