@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.agregar-usuario__seccion-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;  /* Centra verticalmente si es necesario */
}

.agregar-usuario__boton-selector {
    font-family: 'Roboto';
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    position: relative;  /* Evita que el botón cambie su posición */
    z-index: 1;  /* Evita problemas de solapamiento */
}

.agregar-usuario__boton-selector.activo {
    font-family: 'Roboto';
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}