.acciones-formulario {
    justify-content: space-evenly;
    display: flex;
}

.acciones-formulario__boton{
    width: fit-content;
}

.acciones-formulario__boton--guardar{
    font-family: 'Roboto';
    background-color: #28a745;
    color: white;
    padding: 0.7rem 1.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.acciones-formulario__boton--guardar:hover{
    background-color: #218838;
}

.acciones-formulario__boton--cancelar{
    font-family: 'Roboto';
    background-color: #dc3545;
    color: white;
    padding: 0.7rem 1.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.acciones-formulario__boton--cancelar:hover{
    background-color: #c82333;
}