@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.formulario-alumno {
    background-color: white;
    padding: 20px;
    padding-top: 1px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 0;
}

.formulario-alumno__campo,
.formulario-alumno__materias-recursadas {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.formulario-alumno__campo label,
.formulario-alumno__campo-materias-recursadas label {
  font-family: 'Roboto';
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 16px;
}

.formulario-alumno__campo input,
.formulario-alumno__campo select {
  font-family: 'Roboto';
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
}

.formulario-alumno__campo-materias-recursadas {
  margin-bottom: 0.5rem !important;
}

.formulario-alumno__materias-recursadas {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.formulario-alumno__materia-recursada {
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 4px;
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
}

.formulario-alumno__materia-recursada button {
  margin-left: 0.5rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.formulario-alumno__materia-recursada button:hover {
  background-color: #e60000;
}

.formulario-alumno__seccion-agregar-materia-recursada{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.formulario-alumno__boton-agregar-materia-recursada {
  font-family: 'Roboto';
  padding: 0.6rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

.formulario-alumno__boton-agregar-materia-recursada:hover {
  background-color: #0056b3;
}