.contenedor-gestionar-grupos{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contenedor-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

.tabla-grupos {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tabla-grupos th, .tabla-grupos td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla-grupos th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.btn-agregar-grupo, .btn-editar, .btn-eliminar {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-agregar-grupo {
    margin-left: 450px;
    background-color: #28a745;
    color: white;
}

.btn-editar {
    background-color: #007bff;
    color: white;
}

.btn-eliminar {
    background-color: #dc3545;
    color: white;
}