@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.tabla-grupos {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 20px 0;
}

.tabla-grupos th, .tabla-grupos td {
    font-family: 'Roboto';
    border: 1px solid #ddd;
    padding: 12px 16px;
    text-align: center;
}

.tabla-grupos th {
    font-family: 'Roboto';
    background-color: #f0f0f0;
    font-weight: 600;
    color: #333;
}

.tabla-grupos tr:nth-child(even) {
    background-color: #FCFCFC;
}

.tabla-grupos tr:hover {
    background-color: #f2f2f2;
}

.tabla-grupos__boton-editar, .tabla-grupos__boton-eliminar {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.tabla-grupos__boton-editar {
    background-color: #007bff;
}

.tabla-grupos__boton-eliminar {
    background-color: #dc3545;
}

.tabla-grupos__boton-editar:hover {
    background-color: #0056b3;
}

.tabla-grupos__boton-eliminar:hover {
    background-color: #c82333;
}

.tabla-grupos__boton-agregar {
    font-family: 'Roboto';
    background-color: #28a745;
    color: white;
    padding: 0.7rem 1.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tabla-grupos__boton-agregar:hover {
    background-color: #218838;
}